<?xml version="1.0" encoding="UTF-8"?>

<module>

    <name>customhomeblocks</name>

    <displayName><![CDATA[Custom Home Blocks]]></displayName>

    <description><![CDATA[Add multiple custom HTML content blocks to the homepage via the displayHome hook.]]></description>

    <version>1.0.0</version>

    <author>Oscar Periche</author>

    <ps_versions_compliancy>

        <min>1.7</min>

        <max>9.0</max>

    </ps_versions_compliancy>

</module>

