<?xml version="1.0" encoding="UTF-8"?>

<module>

    <name>customhomeblocks</name>

    <displayName><![CDATA[Custom Home Blocks]]></displayName>

    <description><![CDATA[Add multiple custom HTML content blocks to the homepage via the displayHome hook.]]></description>

    <version>1.0.2</version> <!-- x-release-please-version -->

    <author>Oscar Periche</author>

    <allow_push>1</allow_push>

    <ps_versions_compliancy>

        <min>1.7</min>

        <max>_PS_VERSION_</max>

    </ps_versions_compliancy>

</module>

